*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Setting up custom properties */
:root {
    /* Custom font family & font weight */
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    --fw-reg: 300;
    --fw-bold: 900;

    /* Font colours */
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #ffb366;

    /* Font sizes */
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;
}

/* Enlarge font size on bigger screens */
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.75rem;
        --fs-body: 1.125rem;
    }
}

/* Shrink elements on small screens*/
@media (max-width: 600px) {
    .logo {
        width: 250px;
    }
}

/* General styles */
body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 3em 1.5em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

/* Typography */
h1,
h2,
h3 {
    line-height: 1em;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
}

html {
    scroll-behavior: smooth;
}

.section__title {
    font-size: var(--fs-h1);
    margin-bottom: 0.1em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about,
.section__subtitle--projects,
.section__subtitle--contact {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-reg);
    margin-bottom: 1em;
    padding: 0.25em;
}

/* Header */
header {
    width: 100%;
    background-color: var(--clr-dark);
    text-align: right;
    position: sticky;
    top: 0;
    z-index: 999;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.logo {
    z-index: 1;
    grid-column: 3 / 3;
}

/* Navigation bar */
/* Setup for nav appearance*/
.nav {
    background-color: var(--clr-dark);
    width: 100%;
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    display: none;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.25),
        0 0.25em 0.25em rgba(0, 0, 0, 0.15);
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__item {
    margin-bottom: 1em;
    margin-left: 3.75em;
    letter-spacing: 0.5em;
}

.nav__link {
    text-decoration: none;
    color: var(--clr-light);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.nav__link:hover {
    text-decoration-line: underline;
}

/* Hidden nav checkbox */
.nav-toggle {
    top: 0;
    left: 0;
    display: none;
}

/* Show nav on toggle */
.nav-toggle:checked ~ nav {
    display: block;
}

/* Hamburger icon, linked to toggle */
.hamburger {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    margin-left: 1em;
}
.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--clr-light);
    margin: 6px 0;
    transition: 0.2s;
}
/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Intro section */

.intro {
    position: relative;
}

.intro__image {
    box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 900px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 2em;
        grid-template-areas:
            'img title'
            'img subtitle';
        grid-template-columns: min-content max-content;
        margin-top: 8em;
        margin-bottom: 8em;
    }

    .intro__image {
        grid-area: img;
        min-width: 250px;
        position: relative;
    }

    .section__title {
        grid-area: title;
    }

    .section__subtitle--intro {
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -3em;
        width: calc(100% + 7.5em);
    }
}

@media (max-width: 500px) {
    .section__subtitle {
        font-size: 1.25rem;
    }
}
@media (max-width: 400px) {
    .section__subtitle {
        font-size: 1rem;
    }
}

/* About me section */
.about-me {
    color: var(--clr-light);
    background-color: var(--clr-dark);
    background-image: url(/images/about-bg.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}

p + p {
    margin-top: 1.8em;
}

@media (min-width: 900px) {
    .about-me {
        display: grid;
        grid-template-areas:
            'title image'
            'subtitle image'
            'aboutText image';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.05fr 0.05fr 1fr;
        padding-left: 5em;
        padding-right: 5em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-area: subtitle;
    }

    .about-me__body {
        grid-area: aboutText;
        padding: 2em;
        margin-right: 1em;
    }

    .about-me__body--image {
        grid-area: image;
        box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
            0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom center;
    }
}

/* Projects section - Temporary: Work in progress. Create responsive where images enlarge with size.*/
.all-projects a:link {
    color: var(--clr-dark);
    text-decoration: none;
}
.all-projects a:visited {
    color: var(--clr-dark);
    text-decoration: none;
}
.all-projects a:hover {
    text-decoration: underline;
}

@media (min-width: 600px) {
    .projects {
        display: grid;
        grid-template-areas:
            'title title'
            'subtitle subtitle'
            'projectText projectText'
            'projects projects'
            '. allProjects';
        padding-left: 5em;
        padding-right: 5em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.1fr 0.2r 2fr 0.2fr;
    }

    .section__title--projects {
        grid-area: title;
        text-align: right;
    }

    .section__subtitle--projects {
        grid-area: subtitle;
        justify-items: right;
        text-align: right;
    }

    .projects__body--text {
        grid-area: projectText;
        padding: 1em;
        margin-top: -0.5em;
    }

    .projects__list-wrapper {
        grid-area: projects;
    }

    .all-projects {
        grid-area: allProjects;
        text-align: right;
        padding-top: 1.5em;
    }

    /* Horizontal scroll wrapper for projects section*/
    .projects__list-wrapper {
        display: grid;
        grid-template-areas:
            't1 t2 t3 t4 t5'
            'img1 img2 img3 img4 img5'
            'desc1 desc2 desc3 desc4 desc5';
        grid-gap: 10px;
        grid-template-columns: repeat(5, calc(50% - 40px));
        /* grid-template-rows: 1fr 4fr 1fr; */
        overflow-x: scroll;
        overflow-y: hidden;
        text-align: center;
        column-gap: 1.5em;
    }

    /* General settings for image */
    .project__item--title {
        align-self: center;
        padding: 0.5em;
        font-weight: var(--fw-bold);
    }
    .project__item--image {
        object-fit: cover;
        width: 100%;
        height: auto;
        transition: 0.5s ease;
        border: 1px solid var(--clr-dark);
    }

    .project__item--image:hover {
        opacity: 0.8;
        box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
            0.125em 0.125em 0.5em rgba(0, 0, 0, 0.15);
    }

    .project__item--desc {
        text-align: left;
        padding: 0.5em 1em 0.5em;
    }
    .project__item--title {
        font-size: var(--fs-h3);
    }
    /* Project 1 */
    .project__item--title1 {
        grid-area: t1;
    }
    .project__item--image1 {
        grid-area: img1;
        content: url(/images/projects/temp.jpg);
    }
    .project__item--desc1 {
        grid-area: desc1;
    }

    /* Project 2 */
    .project__item--title2 {
        grid-area: t2;
    }
    .project__item--image2 {
        grid-area: img2;
        content: url(/images/projects/nc-boardgames-react.jpg);
    }
    .project__item--desc2 {
        grid-area: desc2;
    }

    /* Project 3 */
    .project__item--title3 {
        grid-area: t3;
    }
    .project__item--image3 {
        grid-area: img3;
        content: url(/images/projects/nc-boardgames-api.jpg);
    }
    .project__item--desc3 {
        grid-area: desc3;
    }

    /* Project 4 */
    .project__item--title4 {
        grid-area: t4;
    }
    .project__item--image4 {
        grid-area: img4;
        content: url(/images/projects/temp.jpg);
    }
    .project__item--desc4 {
        grid-area: desc4;
    }

    /* Project 5 */
    .project__item--title5 {
        grid-area: t5;
    }
    .project__item--image5 {
        grid-area: img5;
        content: url(/images/projects/temp.jpg);
    }
    .project__item--desc5 {
        grid-area: desc5;
    }
}

/*To do for projects:
- Projects section for media small screens
*/

/* Contact section */
.contact {
    background-color: black;
    background-size: 100% 100%;
    color: var(--clr-light);
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
}

.icon-bar {
    width: 60%; /* Full-width */
    background-color: black; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
    margin-top: -1em;
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 25%;
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 50px; /* Increased font size */
}

.icon-bar a:hover {
    background-color: var(--clr-dark); /* Add a hover color */
}

.active {
    background-color: var(--clr-accent); /* Add an active/current color */
}

.section__subtitle--contact {
    background-color: transparent;
    color: var(--clr-accent);
    margin-top: -0.7em;
}

@media (max-width: 700px) {
    .icon-bar {
        width: 80%; /* Full-width */
        margin-top: -1em;
    }
    .project__item--title {
        font-size: var(--fs-h3);
        font-weight: var(--fw-bold);
    }
}

@media (max-width: 500px) {
    .icon-bar {
        width: 90%; /* Full-width */
        margin-top: -1em;
    }
}
