*,
*::before,
*::after {
    box-sizing: border-box;
}         

/* Setting up custom properties */
:root {
    /* Custom font family & font weight */
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    --fw-reg: 300;
    --fw-bold: 900;

    /* Font colours */
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #ffb366;

    /* Font sizes */
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;
}

/* Enlarge font size on bigger screens */
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.75rem;
        --fs-body: 1.125rem;
    }
    
}

/* Shrink elements on small screens*/
@media (max-width:600px) {
    .logo {
        width: 250px;
    }
}


/* General styles */
body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;

}

section {
    padding: 3em 1.5em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold) }



/* Typography */
h1,
h2,
h3 {
    line-height: 1em;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.section__title {
    font-size: var(--fs-h1);
    margin-bottom: 0.1em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong{
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);    
}

.section__subtitle--intro,
.section__subtitle--about,
.section__subtitle--projects,
.section__subtitle--contact {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-reg);
    margin-bottom: 1em;
    padding: 0.25em
}


/* Header */
header {
    width: 100%;
    background-color: var(--clr-dark);
    text-align: right;
    position: sticky;
    top: 0;
    z-index: 999;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.logo {
    z-index:1;
    grid-column: 3 / 3;
}


/* Navigation bar */
/* Setup for nav appearance*/
.nav {
    background-color: var(--clr-dark);
    width: 100%;
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    display: none;
    box-shadow: 0 0.5em 0.5em  rgba(0, 0, 0, 0.25),
                0 0.25em 0.25em rgba(0, 0, 0, 0.15);
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__item {
    margin-bottom: 1em;
    margin-left: 1em;
    letter-spacing: 0.5em;
}

.nav__link { 
    text-decoration: none;
    color: var(--clr-light);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.nav__link:hover {
    background-color: black;
}

/* Hidden nav checkbox */
.nav-toggle {
    top: 0;
    left: 0;
    display: none;
}

/* Show nav on toggle */
.nav-toggle:checked ~ nav {
    display:block;
}

/* Hamburger icon, linked to toggle */
.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1rem;
    height: 100%;
    display: flex;
    align-items: center;

    color: var(--clr-light);
    font-weight: var(--fw-bold);
    transform: rotate(-90deg);
    font-size: 1.5em;

    cursor: pointer;
    transition: all 0.2s ease;
}

.nav-toggle-label:active {
    transform: rotate(180deg);
}

/* Pending for nav:
- Open hamburger menu on hover 
- Rotate hamburger on hover
- Hide hamburger menu on click
- Change nav item on hover highlighting
*/


/* Intro section */

.intro {
    position: relative;
}

.intro__image {
    box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
                0.125em 0.125em 0.25em rgba(0,0,0,0.15);
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 2em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
        margin-top: 8em;
        margin-bottom: 8em;
    }

    .intro__image {
        grid-area: img;
        min-width: 250px;
        position: relative;
    }

    .section__subtitle--intro {
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -3em;
        width: calc(100% + 7.5em);
    }


}
/* About me section */
.about-me {
    color: var(--clr-light);
    background-color: var(--clr-dark);
    background-image: url(/images/about-bg.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

p + p {
    margin-top: 1.8em;
}

@media (min-width: 900px) {

    .about-me {
        display: grid;
        grid-template-areas:
            'title image'
            'subtitle image'
            'content image';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.1fr 2fr;
        padding-left: 5em;
        padding-right: 5em;
    }

    .section__title--about {
        grid-row: 1 / 2;
    }

    .section__subtitle--about {
        grid-row: 2 / 2 ;
        width: calc(100% + 25.5em);
        position: aboslute;
    }
    
    .about-me__body {
        grid-row: 3;
        margin-right: 3.5em;
        padding: 1em;
    }

    .about-me__body--image {
        grid-row: 1 / 3;
        box-shadow: 
            0.25em 0.25em 0.75em rgba(0,0,0,0.25),
            0.125em 0.125em 0.25em rgba(0,0,0,0.15);
    }
}

@media (min-width: 1500px) {
    .about-me {
        padding-left: 12em;
        padding-right: 12em;
    }
}

/* To do for about me:
- Image needs fixing - shrinking when reducing screen size.
*/

/* Projects section - Temporary: Work in progress. Create responsive where images enlarge with size.*/
.projects__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
}

.project__item {
    background: var(--clr-accent);
    padding: 3em;
    width: 10em;
    height: 8em;
    margin-top: 0.2em;
    margin-bottom: 0.5em;

    font-size: 2.5em;
    text-align: center;
}

.project__link {
    text-decoration: none;
    color: var(--clr-light);
}


/* Contact section */
.contact {
    background-color: var(--clr-dark);
    background-image: url(/images/contact-bg.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-size: 100% 100%;
    color: var(--clr-light);
}

.contact-link {
    color: var(--clr-light);
    
}
